<div id="examples">
  <h2>PeerJS in the wild</h2>
  <div>
    <a style="font-size: 1.3em" href="https://starviee.github.io"
      >Starvie Space Shooters</a
    >
    <p style="font-size: 1.2em">
      A multiplayer serverless space shooter game built with PeerJS.
    </p>
    <a target="_blank" href="https://github.com/starviee/starviee.github.io"
      >Github</a
    >
  </div>
  <br />
  <div>
    <a
      style="font-size: 1.3em"
      href="https://jmcker.github.io/Peer-to-Peer-Cue-System/"
      >Peer-to-Peer Cue System</a
    >
    <p style="font-size: 1.2em">
      Cue system for simple two-way communication and visual signaling built
      with PeerJS.
    </p>
    <a target="_blank" href="https://github.com/jmcker/Peer-to-Peer-Cue-System"
      >Github</a
    >
  </div>
</div>
