<div id="team">
  <h2>The peering team</h2>
  <p>We're more excited about WebRTC and peer-to-peer communication in the browser than about
    <span class="random_tagline"></span>.</p>
  <br>
  <div class="person">
    <a href="https://github.com/michelle">
      <div class="img" id="michelle"></div>
    </a>
    <div class="text">
      <h3>
        <a href="https://github.com/michelle">Michelle Bu</a>
      </h3>
      <p>I mostly build silly Javascript web applications. I am working on this Javascript library so I can build more silly
        Javascript web applications.</p>
    </div>
  </div>
  <div class="person">
    <a href="https://github.com/ericz">
      <div class="img" id="eric"></div>
    </a>
    <div class="text">
      <h3>
        <a href="https://github.com/ericz">Eric Zhang</a>
      </h3>
      <p>I'm not going to lie, I am addicted to writing Javascript libraries.
        <br>Please stop me.
        <br>Previously I've built
        <a href="https://github.com/binaryjs/binaryjs">BinaryJS</a> and before that I was a founder of Y Combinator startup Flotype, building, you guessed it, Javascript
        (among others) libraries.</p>
    </div>
  </div>
</div>
